canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}

span {
  font-weight: bold;
}

.game-buttons-container {
  width: 100%;
  text-align: center;
}

.game-button {
  margin: 5px;
  font-weight: 900;
}

#move-right {
  margin-left: 45px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  display: none;
}

#poll {
  font-size: 22px;
  display: none;
  position: fixed;
  top: 7.5%;
  left: 15%;
  z-index: 999999;
  width: 70%;
  height: 85%;
}

#poll img {
  position: fixed;
  z-index: -1;
  background-size: cover;
  height: inherit;
  width: inherit;
}

#poll-content {
  display: none;
}

#opis {
  position: fixed;
  top: 20%;
  left: 30%;
}

#pitanje {
  position: fixed;
  top: 75%;
  left: 50%;
}

#slider {
  margin-left: 12%;
  width: 60%;
}

#sliderNum {
  width: 12%;
}
